.picks {
    width: 100%;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-areas:
        "products products  products"
        ".        picksText picksText";
    border-top: 1px solid rgba(70, 70, 70, .2);
    border-bottom: 1px solid rgba(70, 70, 70, .2);
}

h2 {
    font-size: 3rem;
    font-family: 'Knockout-27', sans-serif;
    text-transform: uppercase;
    color: rgba(70, 70, 70, .9);
    width: 100%;
    padding: 1rem 0 0 0;
    letter-spacing: .03rem;
}

.breadcrumbs {
    padding: 2rem 0;
}

h6 {

    border-top: 1px solid rgba(70, 70, 70, .2);
    border-bottom: 1px solid rgba(70, 70, 70, .2);
    padding: .33rem;
    display: inline-block;
}

h6 a,
h6 span {
    font-size: .9rem;
    color: rgba(70, 70, 70, .66);
    text-decoration: none;
    transition: .5s;
}

h6 i {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: rgba(70, 70, 70, .5);
    cursor: default;
    padding: .5rem;
    transform: translateY(.1rem);
}

h6 a:hover {
    color: #D22226;
}

.products {
    grid-area: products;
    border-bottom: 1px solid rgba(70, 70, 70, .2);
    display: flex;
    justify-content: center;
}

.product {
    width: 33.33%;
    transition: .5s;
    border-left: 1px solid rgba(70, 70, 70, .2);
    text-align: center;
}

.product:first-child {
    border-left: none;
}

.product:hover {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .2);
    background-color: rgba(210, 34, 38, .02);
}

.product_title {
    font-family: 'Knockout-27', sans-serif;
    color: rgba(70, 70, 70, 1);
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: .02rem;
    font-weight: 300;
    transition: .5s;
}

.product:hover .product_title {
    color: #D22226;
}

.product_img {
    width: 100%;
    text-align: center;
}
.product_img img {
    width: 50%;
}

.product_text {
    font-size: .9rem;
    color: rgba(70, 70, 70, 1);
    text-align: center;
    padding: .5rem 0;
}

.product_price {
    font-size: 1rem;
    color: rgba(70, 70, 70, 1);
    text-align: center;
    padding: .5rem 0;
}

.product a {
    text-decoration: none;
}

.btn-box {
    width: 80%;
    margin: 2rem auto;
}

.product_btn_back {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba(210, 34, 38, 1);
    transition: .5s;
    z-index: -1;
}

.product_btn {
    box-sizing: border-box;
    width: 100%;
    padding: .6rem 0;
    text-transform: uppercase;
    font-size: .8rem;
    line-height: 1.2rem;
    color: rgba(210, 34, 38, 1);
    transition: .5s;
    display: inline-block;
    border: 1px solid rgba(210, 34, 38, 1);
    text-align: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}

.picks-text {
    grid-area: picksText;
}

.picks-text p {
    font-size: .9rem;
    line-height: 1.5rem;
    color: rgba(70, 70, 70, 1);
    padding: 2.5rem;
    border-left: 1px solid rgba(70, 70, 70, .2);
}
