.breadcrumbs {
    padding: 2rem 0;
}

h6 {

    border-top: 1px solid rgba(70, 70, 70, .2);
    border-bottom: 1px solid rgba(70, 70, 70, .2);
    padding: .33rem;
    display: inline-block;
}

h6 a,
h6 span {
    font-size: .9rem;
    color: rgba(70, 70, 70, .66);
    text-decoration: none;
    transition: .5s;
}

h6 i {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: rgba(70, 70, 70, .5);
    cursor: default;
    padding: .5rem;
    transform: translateY(.1rem);
}

h6 a:hover {
    color: #D22226;
}

h2 {
    font-size: 3rem;
    font-family: 'Knockout-27', sans-serif;
    text-transform: uppercase;
    color: rgba(70, 70, 70, .9);
    width: 100%;
    padding: 1rem 0 0 0;
    letter-spacing: .03rem;
}

.post {
    width: 100%;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-areas:
            "postTitle postText1 postText2";
    border-top: 1px solid rgba(70, 70, 70, .2);
    border-bottom: 1px solid rgba(70, 70, 70, .2);
}

.post-title {
    grid-area: postTitle;
    padding: 2.5rem 2.5rem 0 0;
}

.post-text1 {
    grid-area: postText1;
    padding: 2.5rem;
    border-left: 1px solid rgba(70, 70, 70, .2);
}

.post-text2 {
    grid-area: postText2;
    padding: 2.5rem 0 2.5rem 2.5rem;
    border-left: 1px solid rgba(70, 70, 70, .2);
}

.post-title h4,
.post-text1 h4,
.post-text2 h4 {
    font-family: 'Knockout-27', sans-serif;
    color: rgba(70, 70, 70, 1);
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: left;
    letter-spacing: .04rem;
    font-weight: 300;
    padding: 0 0 1rem 0;
    transition: .5s;
}

.post-title p,
.post-text1 p,
.post-text2 p {
    font-size: .9rem;
    line-height: 1.5rem;
    padding-bottom: .66rem;
}

.post-text1 li,
.post-text2 li {
    font-size: .9rem;
    line-height: 1.4rem;
    padding-bottom: .33rem;
    margin-left: 1rem;
}

.post-text1 li:last-child,
.post-text2 li:last-child {
    padding-bottom: 1rem;
}

.post-title p:last-child,
.post-text1 p:last-child,
.post-text2 p:last-child {
    padding-bottom: 0;
}

.post-title .post-img {
    width: 100%;
    margin: 3rem 0;
}

.post-img img {
    width: 100%;
}

.post-text_header {
    display: flex;
    justify-content: space-between;
}

.post-text_header_left,
.post-text_header_right {
    width: 50%;
    text-align: left;
    font-family: 'knockout', sans-serif;
    font-size: .7rem;
    color: rgba(70, 70, 70, .8);
    padding: 1rem 0;
    text-transform: uppercase;
    border-top: 1px solid rgba(70, 70, 70, .2);
    border-bottom: 1px solid rgba(70, 70, 70, .2);
}

.post-text_header_right {
    border-left: 1px solid rgba(70, 70, 70, .2);
    padding-left: 1rem;
}